{% macro select(name, selected_val, default_val, values) -%}
    {% if selected_val: %}
    <select name="{{ name }}" class="custom-select" id="{{ name }}">
        <option value="selected_val" selected>{{ selected_val }}</option>
    </select>
    {% elif values %}
    <select name="{{ name }}" class="custom-select" id="{{ name }}">
        <option value="" selected>{{ default_val }}</option>
        {% for key, value in values.items() %}
        <option value="{{key}}" {{'selected' if value==key else '' }}>{{value}}</option>
        {% endfor %}
    </select>
    {% endif %}
{%- endmacro %}