{% extends "layout.html" %}
{% from "macros.html" import select with context %}

{% block title %}
Find Your TopStop
{% endblock %}
{% block content %}
<hr />
<div class="row py-2">
    <div class="col"></div>
    <div class="col-8">
        <h4>Real-time Departures</h4>
    </div>
    <div class="col"></div>
</div>
<div class="row py-2">
    <div class="col"></div>
    <div class="col-8">
       {{ select("route_select", selected_route, "Select a route", routes) }}
    </div>
    <div class="col"></div>
</div>
<div class="row py-2">
    <div class="col"></div>
    <div class="col-8">
        {{ select("direction_select", selected_direction, "Select a direction", route_directions) }}
    </div>
    <div class="col"></div>
</div>
<div class="row py-2">
    <div class="col"></div>
    <div class="col-8">
        {{ select("stop_select", selected_direction, "Select a stop", stops) }}
    </div>
    <div class="col"></div>
</div>
<hr />
{% endblock %}