{% extends "layout.html" %}
{% from "macros.html" import select with context %}

{% block title %}
Find Your TopStop
{% endblock %}
{% block content %}
<hr />
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <h4>Real-time Departures</h4>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <select name="route_select" class="custom-select" id="routes">
            <option value="" selected>>Route</option>
            {% for key, value in routes.items() %}
            <option value="{{value}}" {{'selected' if value==key else '' }}>{{value}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <select name="direction_select" class="custom-select" id="direction">
            <option value="" selected>Directions</option>
            {% if directions: %}
            {% for key, value in directions.items() %}
            <option value="{{value}}" {{'selected' if value==key else '' }}>{{value}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <select name="stop-select" class="custom-select" id="stop">
            <option value="" selected>Stop</option>
            {% if directions: %}
            {% for key, value in stops.items() %}
            <option value="{{value}}" {{'selected' if value==key else '' }}>{{value}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="col"></div>
</div>
<hr />
{% endblock %}